* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  background-color: #f6f8fa;
}

article {
  background-color: white;
  padding: 25px;
  border-radius: 26px;
  margin: 15px;
}

img {
  border-radius: 15px;
}

h2 {
  text-transform: uppercase;
}

.seerepos {
  font-size: 20px;
}

.username {
  opacity: 0.5;
}

.arrowbutton {
  background-color: transparent;
  border: none;
  color: rgb(29, 170, 231);
}
